<h1>Welcome to RPS checker</h1>
<form action='/winner'>
  <div class='form-group'>
    <label for="one_input">Player one enter your selection.</label>
    <input id="one_input" name="one_input" class="form-control" type="text">
    <label for="two_input">Player two enter your selection.</label>
    <input id="two_input" name="two_input" class="form-control" type="text">
  </div>
  <button id ="submit" type="submit" class="btn-success">Submit</button>
</form>
